* {
    margin: 0;
    box-sizing: border-box;
}
.header
{
    background-color: lightgrey;
    width: 784px;
    height: 200px;
}
.kolom1
{
    position: absolute;
    background-color: yellow;
    height: auto;
    width: 200px;
}
.kolom2
{
    background-color: rgb(212, 121, 167);
    height: auto;
    width: 584px;
    margin-left: 200px;
}
.footer
{
    height: 100px;
    width: 784px;
    background-color: rgb(197, 160, 221);
}
